<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <h1>View your post in Detail</h1>

    <div>
        <h3>post id:<%= postDetail.id  %></h3>
        <h5><%= postDetail.username  %></h5>
        <p><%=postDetail.content  %></p>
    </div>
    <a href="http://localhost:3000/post">Back</a>
</body>
</html>