<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit post</title>
</head>
<body>
    <h1>Edit your post</h1>
    <h2>id: <%=postedit.id  %></h2>
    <h3>username:<%= postedit.username %></h3>
    
    <form method="post" action="/post/<%= postedit.id %>?_method=PATCH">
        <textarea rows="10" cols="30" name="content" ><%= postedit.content %></textarea> <br>
        <button>submit</button>
    </form>
</body>
</html>