<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New poste</title>
</head>
<body>
    <form action="/post" method="post">
        <input type="text" placeholder="enter the user name" name="username"><br> <br>
        <textarea name="content" placeholder="enter the content"></textarea><br> <br>
        <button>submite</button>
    </form>
</body>
</html>